.row
  .col-lg-12
    %h1.page-header Escalade
  .row
    .col-md-6.portfolio-item
      %a(href="#")
        %img.img-responsive{ src: image_url('700x400-placeholder.png'), alt: 'placeholder' }
      %h3
        %a(href="#")Site One
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    .col-md-6.portfolio-item
      %a(href="#")
        %img.img-responsive{ src: image_url('700x400-placeholder.png'), alt: 'placeholder' }
      %h3
        %a(href="#")Site Two
      %p Lorem ipsum dolor sit Gamet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
